
*.blend
*.blend1
Rig/Blend Files/BugRig_FinalMastersProject9.blend1
Rig/Blend Files/BugRig_FinalMastersProject9.blend1
*.blend@
Addon/VonTools/Addon Creation/von_savedatatojson.py
Addon/VonTools/Addon Creation/controls/Sphere.txt
Addon/VonTools/Addon Creation/No Longer Required/von_savedatatojson.py
